<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Ana Belén">
    <meta name="description" content="Portafolio de Ana Belén creativo estilo videojuego donde exploro proyectos de desarrollo web, aplicaciones, narrativa interactiva y videojuegos.">
    <meta name="keywords" content="portafolio, desarrollo web, programación, aplicaciones, videojuegos, proyectos ODS, proyectos STEAM.">

    <meta name="copyrig" content="© 2026 Ana Belén">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--Estilos-->
    <title>Portafolio/Home</title>
    <link rel="icon" type="Imagen/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/style.css">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body id="body_home">
    <header class="encabezado" >
        <nav>
            <div class="logo">
                <img src="../static/img/logo.png" alt="Logo personal">
            </div>
            <h1>Portafolio WEB</h1>
            <div class="menu_home">
            <a href="../index.html" >Menu</a> <!-- la pantalla que se presenta al inicio, antes del home-->
            <a href="home.html">Home</a> <!-- Se inicia con el recorrido-->
            <a href="setting.html">Setting</a> <!-- Aquí se puede cambiar el idioma y tamaño de la letra-->
            <a href="store.html">Store</a> <!-- Aquí se puede solicitar mis servicios y mis contactos-->
            </div>
        </nav>
    </header>
    
    <main>
        <!--
        ****************
            NIVELES WEB
        ****************
        -->

        <div class = "level" id="web"> <!-- L1 -->
            <section>
                <div class = "img_level">
                    <img src = "../static/img/Web.jpg" alt="Imagen de una página web">
                </div>
                <h2>
                    Creación de páginas web
                </h2>
                <p>
                    En este nivel encontraras un poco de las webs que he creado  
                    <!-- MEJORAR -->
                </p>

                <!-- MEJORAR -->
                <!-- Colegio -->
                <div class="web_grid">
                    <article class="web_tarjet">
                        <h3>Página web de un colegio Tecnico-profecional</h3>
                        <p>
                            Una página web creada para una institución educativa
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Empresa Tec -->
                    <article class="web_tarjet">
                        <h3>Página web para una empresa técnologica</h3>
                        <p>
                            Una página web creada para una institución educativa
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Sublimación -->
                    <article class="web_tarjet">
                        <h3>Página web para una pequeña empresa de sublimación y diseño</h3>
                        <p>
                            Una página web creada para una institución educativa
                        </p>
                        <a href="">Transportarse</a>
                    </article>
                </div>
            </section>
        </div>

        <!--
        ****************
            NIVELES APP_WEB
        ****************
        -->

        <div class = "level" id="app_web"> 
            <section>
                <div class = "img_level">
                    <img src = "../static/img/web-app-1.png" alt="Imagen de una app_web">
                </div>
                <h2>
                    Creación de aplicaciones web
                </h2>
                <p>
                    En este nivel encontraras un poco de las apps-web que he creado  
                    <!-- MEJORAR -->
                </p>
                
                <!-- MEJORAR -->
                <!-- Armiya -->
                <div class="web_grid">
                    <article class="web_tarjet">
                        <h3>Armiya</h3>
                        <p>
                            Una aplicación web que sirva de herramienta para centros educativos del país, combinando IA y gamificación
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Tecnovation -->
                    <article class="web_tarjet">
                        <h3>Tecnovation</h3>
                        <p>
                            Una aplicacion web social que ayuda a jovenes a conectarse con otros chicas con intereses similares
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Nexus -->
                    <article class="web_tarjet">
                        <h3>Nexus</h3>
                        <p>
                            Una aplicacion web donde puedes compartir con millones de usuarios habitos diarios que pueden mejorar tu vida o ayudar al medio ambiente, con retos semanales y ranquins, tambien con rachas solitarias o compartidas con comunidades o amigos
                        </p>
                        <a href="">Transportarse</a>
                    </article>
                </div>
            </section>
        </div>

        <!--
        ****************
            NIVELES APP
        ****************
        -->

        <div class = "level" id="app"> 
            <section>
                <div class = "img_level">
                    <img src = "../static/img/App.jpeg" alt="Imagen de una App">
                </div>
                <h2>
                    Creación de aplicaciones
                </h2>
                <p>
                    En este nivel encontraras un poco de las aplicaciones que he creado  
                    <!-- MEJORAR -->
                </p>

                <div class="web_grid">
                    <!-- MEJORAR -->
                    <!-- COO-SMART -->
                    <article class="web_tarjet">
                        <h3>COO-SMART</h3>
                        <p>
                            Una aplicación que lee los códigos de barra de los productos, analiza los saludables que son, si son agregados a la despensa te anota cuando se vencen.
                            Además de crearte recetas con los alimentos que tienes en la despensa.
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Influencer-plannin -->
                    <article class="web_tarjet">
                        <h3>Influencer-plannin</h3>
                        <p>
                            Una aplicacion que ayuda a los influencer y creadores de contenido a facilitar la creación de sus contenidos con ayuda de IA, planifica lanzamientos, mejorando guiones, horas por nicho, marketing, monetización, copyrig recomendaciones para el crecimiento del canal (tik tok, instagram, X, youtube, cantante, streamer, V-tuber), dependiendo del tipo de influencer que seas y tu nicho personalizando la asistentencia para el crecimiento del canal en cualquier plataforma
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Locapet -->
                    <article class="web_tarjet">
                        <h3>Locapet</h3>
                        <p>
                            Una aplicacion que te enseña mascotas perdidas y abandonadas con una descripción y donde se encuentran ubicados puedes poner anuncios de mascotas que dejas en adopción o colocar alertas de mascotas perdidas, tomandole una foto y un poco de información extra, refugios donde se puede adoptar y algunas de las mascotas que están en adopción con sus descripciones, parques para pacear a tus mascotas, lugares(restaurantes, hoteles, casas de reta, entre otros) que sean pet-frienly. 
                        </p>
                        <a href="">Transportarse</a>
                    </article>
                </div>
            </section>
        </div>

        <!--
        ****************
            NIVELES GAMES
        ****************
        -->

        <div class = "level" id="games"> 
            <section>
                <div class = "img_level">
                    <img src = "../static/img/Games.png" alt="Imagen de una digital-novel">
                </div>
                <h2>
                    Creación de algunos videojuegos
                </h2>
                <p>
                    En este nivel encontraras un poco de los videojuegos que he creado  
                    <!-- MEJORAR -->
                </p>
                
                <div class="web_grid">
                    <!-- MEJORAR -->
                    <!-- Avanced -->
                    <article class="web_tarjet">
                        <h3>Avanced</h3>
                        <p>
                            Un videojuego donde exploras un mundo abierto y destruido, 
                        </p>tu decides en que te convertiras, ya sea en el villano o en el heroe, eres solo un ser extraño en un mundo extraño, y los ecosistemas de esté mundo lo saben.
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Evolution World -->
                    <article class="web_tarjet">
                        <h3>Evolution World</h3>
                        <p>
                            Un juego donde puedes elegir convertirte en una de las razas disponibles, evolucionando poco a poco hasta convertirte en cualquiera de sus evoluciones diferentes, desbloqueando evoluciones raras o unicas
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Global pet Manster -->
                    <article class="web_tarjet">
                        <h3>Global pet Manster</h3>
                        <p>
                            Un juego de realidad virtual donde toma fotos de tu casa y las convierte en un tipo de granja de fantasía donde podrás domar y conseguir animales y monstruos de fantasía, domandolos y cuidandolos, cómo siempre lo soñastes 
                        </p>
                        <a href="">Transportarse</a>
                    </article>
                </div>
            </section>
        </div>

        <!--
        ****************
            NIVELES NOVEL-VISUAL
        ****************
        -->

        <div class = "level" id="novel-visual"> 
            <section>
                <div class = "img_level">
                    <img src = "../static/img/novela visual.jpg" alt="Imagen de una digital-novel">
                </div>
                <h2>
                    Creación de algunas novelas visuales 
                </h2>
                <p>
                    En este nivel encontraras un poco de las novelas visuales que he creado  
                    <!-- MEJORAR -->
                </p>
                
                <div class="web_grid">
                    <!-- MEJORAR -->
                    <!-- Había una vez un felices para siempre -->
                    <article class="web_tarjet">
                        <h3> Había una vez... <br> Un felices para siempre...</h3>
                        <p>
                            Una novela visual que te metera destro de historia de amor de cuento de hadas, donde tomas el papel de una sirvienta en el castillo del villano, intentando sobrevivir, ¡mientras te enamoras? y ¿puedé que la protagonista no sea lo que se cree?
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Exp lab -->
                    <article class="web_tarjet">
                        <h3>Exp lab</h3>
                        <p>
                            Una historia sobre un grupo de experimentos que buscan liberarse de la institución que los apresa, descubriendo secretos y verdades sobre la institución y los pasados de los experimentos
                        </p>
                        <a href="">Transportarse</a>
                    </article>

                    <!-- MEJORAR -->
                    <!-- Loveless -->
                    <article class="web_tarjet">
                        <h3>Loveless</h3>
                        <p>
                            Una historia de amor envuelta en misterio, desapariciones han estado ocurriendo en un pequeño pueblo y las personas relacionadas a las personas desaparecidas muestran comportamientos extraños, tu encarnas al hermano de uno de los desaparecidos ¿descubriras la verdad de lo que sucede? 
                        </p>
                        <a href="">Transportarse</a>
                    </article>
                </div>
            </section>
        </div>
    </main>
</body>
</html>