<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Ana Belén">
    <meta name="description" content="los ajustes del Portafolio de Ana Belén creativo estilo videojuego donde exploro proyectos de desarrollo web, aplicaciones, narrativa interactiva y videojuegos.">
    <meta name="keywords" content="portafolio, desarrollo web, programación, aplicaciones, videojuegos, proyectos ODS, proyectos STEAM.">

    <meta name="copyrig" content="© 2026 Ana Belén">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Estilos-->
    <title>PORTAFOLIO/setting</title>
    <link rel="icon" type="Imagen/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/style.css">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body class="page" id="body_setting">
    <header class="encabezado">
        <nav>
            <div class="logo">
                <img src="../static/img/logo.png" alt="Logo personal">
            </div>
            <h1>Portafolio WEB</h1>
            <div class="menu_home">
                <a href="../index.html" >Menu</a> <!-- la pantalla que se presenta al inicio, antes del home-->
                <a href="home.html">Home</a> <!-- Se inicia con el recorrido-->
                <a href="setting.html">Setting</a> <!-- Aquí se puede cambiar el idioma y tamaño de la letra-->
                <a href="store.html">Store</a> <!-- Aquí se puede solicitar mis servicios y mis contactos-->
            </div>
        </nav>
    </header>
    <h2>Setting</h2>
    <p>
        Estos son los ajustes donde podrás modificar un poco la página para mejorar el uso de la misma
        <!--Mejorar-->
    </p>
    <h3>
        IDIOMA
    </h3>
    <div class="idioma">
        <a>
            Español
        </a>
        <a>
            English
        </a>
    </div>
    <h3>
        TAMAÑO DE LETRA
    </h3>
    <div class="tamaño_letra">
        <a>
            <
        </a>
        <p>
            Tamaño Mediano
        </p>
        <a>
            >
        </a>
    </div>
    <h3>
        FONDO
    </h3>
    <p>
        En está puedes configurar el fondo usando cualquiera de estos fondos
    </p>
    
    <div class="web_grid fondos">

    <article class="tarjetas">
        <h4>Amanecer</h4>
        <img src="../static/img/fondo_Claro.jpg" alt="Imagen de un campo de día despejado">
        <span>Agotado</span>
    </article>

    <article class="tarjetas">
        <h4>Atardecer</h4>
        <img src="../static/img/fondo_Atardecer.jpg" alt="Imagen de un atardecer rojizo">
        <span>Agotado</span>
    </article>

    <article class="tarjetas">
        <h4>Vía Láctea</h4>
        <img src="../static/img/fondo.avif" alt="Imagen del espacio">
        <span>Actual</span>
    </article>

</div>



    <!--No se cómo agregar estos cambios creo que se hace con JS-->
</body>
</html>