<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Ana Belén">
    <meta name="description" content="La tienda del Portafolio de Ana Belén creativo estilo videojuego donde se pueden explorar mir redes, comunidades y solicitar o preguntar por mis servicios">
    <meta name="keywords" content="portafolio, desarrollo web, programación, aplicaciones, videojuegos, proyectos ODS, proyectos STEAM.">

    <meta name="copyrig" content="© 2026 Ana Belén">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--estilos-->
    <title>PORTAFOLIO/store</title>
    <link rel="icon" type="Imagen/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/style.css">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body id="body_store">
    <header class="encabezado">
        <nav>
            <div class="logo">
                <img src="../static/img/logo.png" alt="Logo personal">
            </div>
            <h1>Portafolio WEB</h1>
            <div class="menu_home">
                <a href="../index.html" >Menu</a> <!-- la pantalla que se presenta al inicio, antes del home-->
                <a href="home.html">Home</a> <!-- Se inicia con el recorrido-->
                <a href="setting.html">Setting</a> <!-- Aquí se puede cambiar el idioma y tamaño de la letra-->
                <a href="store.html">Store</a> <!-- Aquí se puede solicitar mis servicios y mis contactos-->
            </div>
        </nav>
    </header>
    <h2>STORE</h2>
    <p>
        En este sitios puede explorar algunas de mis cualidades, conocer partes de mis comunidades y ponerse en contacto conmigo en la sección de contactos
        <!--Mejorar-->
    </p>
    <div class="habilidades">
        <h2>
            Skills
        </h2>
        <ul>
            <li>
                <p>Lidezgo y trabajo en equipo</p>
            </li>
            <li>
                <p>Responsabilidad</p>
            </li>
            <li>
                <p>Aprendiz eterno</p>
            </li>
        </ul>
    </div>
    <h2>
        Contactame:
    </h2>
    <div class="contactos">
        <div class="fichas_contacto">
            <h2>
                Whatsapp
            </h2>
            <a href="http://" target="_blank" rel="noopener noreferrer">CONTACTAR</a>
        </div>
        <div class="fichas_contacto">
            <h2>
                Facebook
            </h2>
            <a href="http://" target="_blank" rel="noopener noreferrer">CONTACTAR</a>
        </div>
        <div class="fichas_contacto">
            <h2>
                instagram
            </h2>
            <a href="http://" target="_blank" rel="noopener noreferrer">CONTACTAR</a>
        </div>
    </div>
    <h2>
        Comunidades que podrían interesarte
    </h2>
    <div class="comunidades">
        <div class="fichas_contacto">
            <h2>
                ShyGirlsProgramming
            </h2>
            <h3>
                Discord
            </h3>
            <p>
                Este servidor tiene un bot creado por mi pensado para chicas principalmente tímidas o que no saben programar y que quieran aprender o participar en retos de programación junto a la comunidad o en solitario, con la idea de fomentar el interes a lo tecnologíco y STEAM
            </p>
            <a href="https://discord.gg/wVhMpNQ4" target="_blank" rel="noopener noreferrer">CONOCER</a>
        </div>
        <div class="fichas_contacto">
            <h2>
                ReddiX0
            </h2>
            <h3>
                youtube
            </h3>
            <p>
                En este canal se pueden evidenciar varios proyectos de videos expirimentales de IA principalmente 
            </p>
            <a href="http://" target="_blank" rel="noopener noreferrer">CONOCER</a>
        </div>
        <div class="fichas_contacto">
            <h2>
                X-Zero Experiment
            </h2>
            <h3>
                youtube
            </h3>
            <p>
                En este canal trata de temas variados orientados a la exploración, experimentos entre otros
            </p>
            <a href="http://" target="_blank" rel="noopener noreferrer">CONOCER</a>
        </div>
    </div>
</body>
</html>